<header class="absolute inset-x-0 top-0 z-50">
    <nav class="flex items-center justify-between p-6 lg:px-8" aria-label="Global">
        <div class="flex lg:flex-1">
            <a href="#" class="-m-1.5 p-1.5">
                <span class="sr-only">Todo List</span>
                <img class="h-8 w-auto" src="https://cdn-icons-png.flaticon.com/128/9099/9099135.png  " alt="">
            </a>
        </div>
        <div class=" lg:flex lg:flex-1 lg:justify-end">
            <div (click)="deconncter()" class="text-sm cursor-pointer font-semibold leading-6 text-gray-900">
                Se deconnecter<span aria-hidden="true">&rarr;</span>
            </div>
        </div>
    </nav>
</header>
<div class="">
    <div class="mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8">
        <div class="text-2xl font-bold tracking-tight text-gray-900 flex inline-flex">
            <div class="h-10 w-10">
                <img src="https://cdn-icons-png.flaticon.com/128/9957/9957593.png" alt="Ajouter"
                    (click)="isPopupOpen=true">
            </div>
        </div>
        <div class="mt-6 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">
            <div class="group relative border-b-2 bg-slate-100 rounded-md" [ngClass]="{
                        'border-b-blue-700': todo.etat === 'todo',
                        'border-b-green-700': todo.etat === 'done',
                        'border-b-red-700': todo.etat === 'cancel'
                    }" *ngFor="let todo of todos">
                <div class="flex justify-end mt-5 mr-5">
                    <svg xmlns="http://www.w3.org/2000/svg" (click)="openUpdate(todo.id)" fill="none"
                        viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0 3.181 3.183a8.25 8.25 0 0 0 13.803-3.7M4.031 9.865a8.25 8.25 0 0 1 13.803-3.7l3.181 3.182m0-4.991v4.99" />
                    </svg>

                </div>
                <div class="m-5 flex justify-between capitalize">
                    <div>
                        <h3 class="text-xl text-gray-900 font-bold">
                            {{todo.title}}
                        </h3>
                        <p class="mt-1 text-lg text-gray-500">{{todo.description}}</p>
                        <div class="text-md" [ngClass]="{
                            'text-blue-700': todo.etat === 'todo',
                            'text-green-700': todo.etat === 'done',
                            'text-red-700': todo.etat === 'cancel'
                        }">Status : {{todo.etat}}</div>
                    </div>
                </div>
                <div class="flex justify-end mb-5 mr-5" (click)="openDelete(todo.id)">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
                    </svg>
                </div>


            </div>
        </div>

    </div>
</div>
<div *ngIf="isPopupOpen" class="fixed inset-0 bg-gray-600 bg-opacity-50 flex justify-center items-center">
    <div class="bg-white p-5 rounded-md shadow-lg w-1/4">
        <h2 class="text-xl font-bold mb-4">Ajouter une tâche</h2>
        <form [formGroup]="TodoForm">
            <div class="mb-4">
                <label class="block text-sm font-medium leading-6 text-gray-900" for="name">
                    Titre
                </label>
                <input
                    class="block w-full rounded-md border-0 p-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-violet-300 sm:text-sm sm:leading-6"
                    id="name" type="text" formControlName="title">
            </div>
            <div class="mb-4">
                <label class="block text-sm font-medium leading-6 text-gray-900" for="name">
                    Description
                </label>
                <input
                    class="block w-full rounded-md border-0 p-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-violet-300 sm:text-sm sm:leading-6"
                    id="name" type="text" formControlName="description">
            </div>
            <div class="flex items-center justify-between">
                <button
                    class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                    type="button" (click)="isPopupOpen = false">
                    Annuler
                </button>
                <button
                    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                    type="button" (click)="addItem()">
                    Ajouter
                </button>
            </div>
        </form>
    </div>
</div>
<div *ngIf="isPopupOpenUpdate" class="fixed inset-0 bg-gray-600 bg-opacity-50 flex justify-center items-center">
    <div class="bg-white p-5 rounded-md shadow-lg w-1/4">
        <h2 class="text-xl font-bold mb-4">Modifier une tâche</h2>
        <form [formGroup]="TodoForm" *ngIf="todoUpdate">
            <div class="mb-4">
                <label class="block text-sm font-medium leading-6 text-gray-900" for="name">
                    Titre
                </label>
                <input [(ngModel)]="todoUpdate.title"
                    class="block w-full rounded-md border-0 p-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-violet-300 sm:text-sm sm:leading-6"
                    id="name" type="text" formControlName="title">
            </div>
            <div class="mb-4">
                <label class="block text-sm font-medium leading-6 text-gray-900" for="name">
                    Description
                </label>
                <input [(ngModel)]="todoUpdate.description"
                    class="block w-full rounded-md border-0 p-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-violet-300 sm:text-sm sm:leading-6"
                    id="name" type="text" formControlName="description">
            </div>
            <div class="mb-4">
                <label class="block text-sm font-medium leading-6 text-gray-900" for="status">
                    Statut
                </label>
                <select [(ngModel)]="todoUpdate.etat"
                    class="block w-full rounded-md border-0 p-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-violet-300 sm:text-sm sm:leading-6"
                    id="status" formControlName="etat">
                    <option value="todo">À faire</option>
                    <option value="done">Terminé</option>
                    <option value="cancel">Annuler</option>
                </select>
            </div>
            <div class="flex items-center justify-between">
                <button
                    class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                    type="button" (click)="isPopupOpenUpdate = false">
                    Annuler
                </button>
                <button
                    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                    type="button" (click)="updateTask()">
                    Ajouter
                </button>
            </div>
        </form>
    </div>
</div>
<div *ngIf="isPopupOpenDelete" class="fixed inset-0 bg-gray-600 bg-opacity-50 flex justify-center items-center">
    <div class="bg-white p-5 rounded-md shadow-lg w-1/4">
        <h2 class="text-xl font-bold mb-4">Suprimer une tâche</h2>
        <div>
            <p class="font-medium text-md">Voulez vous vraiment suprimer cette tâche </p>
            <div class="flex items-center justify-between mt-6">
                <button
                    class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                    type="button" (click)="isPopupOpenDelete = false">
                    Annuler
                </button>
                <button
                    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                    type="button" (click)="deleteTask()">
                    Supprimer
                </button>
            </div>
        </div>
    </div>
</div>